@use '_variables.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  width: 600px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  border-radius: 0px;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch; // Add this line

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    display: flex;
  }
}

.overlay-games {
  left: -600px;
  border-right: 2px solid $text;

  &.active {
    left: 0;
  }
}

.overlay-utils {
  right: -600px;
  border-left: 2px solid $text;

  &.active {
    right: 0;
  }
}

.overlay .search-container {
  max-width: none;
  position: sticky;
  padding: 10px;
  background: linear-gradient(to bottom, #202020, rgba(0, 0, 0, 0));
  border-radius: 0px;
  top: 0;

  input {
    color: $text;
  }

  > i {
    right: 25px;
  }
}

.side-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: $text;
  font-size: 2rem;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $pm-1;
    outline: none;
  }
}

#leftButton {
  left: 10px;

  &.active {
    left: calc(600px + 10px);
    transform: scaleX(-1);
  }
}

#rightButton {
  right: 10px;

  &.active {
    right: calc(600px + 10px);
    transform: scaleX(-1);
  }
}

.app-container {
  padding: 10px;
  flex-grow: 1;
}

.app-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: $text;
  background: $bg-1;
  border: 2px solid $text;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $bg-2;
    border-color: $pm-1;
    outline: none;
  }
}
