@use '_variables.scss' as *;

@media (max-width: 700px) {
    .overlay {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background: $bg-2;
        transition: transform $time ease-in-out;
        overflow-y: auto;
        border: 0px;
        touch-action: pan-y;

        &-utils,
        &-games {
            width: 100%;
            height: 100%;
        }

        &-utils { right: -100%; }
        &-games { left: -100%; }
    }

    #leftButton,
    #rightButton {
        width: 50px;
        height: 50px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active { display: flex; }
    }

    #leftButton { left: 10px; }
    #rightButton { right: 10px; }

    .app-button,
    .side-button {
        &:hover,
        &:focus,
        &:active {
            outline: none;
            background: $bg-1;
            border-color: $text;
            color: $text;
        }
    }

    .main {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
