@use '_variables' as *; 

.search-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.25rem;
  input {
    margin: 0 20px;
    flex-grow: 1;
    background: $bg-1;
    border: 2px solid $text;
    font-size: 1rem;
    color: $text;
    padding: 10px 20px 10px 10px;
    &:hover,
    &:focus,
    &:active {
      background: $bg-2;
      border-color: $pm-2;
      & + i {
        color: $pm-2;
      }
    }
  }
  i {
    position: absolute;
    right: 30px;
    pointer-events: none;
  }
}

h1 {
  font-size: 6rem;
  transition: color $time;
  white-space: nowrap;
  cursor: default;
  &:hover {
    color: $pm-2;
  }
}
